body{
    background: linear-gradient(to left, #800080, 	#027e7e, 	olive  );
}

.form{
    color: aliceblue;
    border-radius: 5px;
    font-size: 22px;
     font-weight: 600;
}

h1{
   color: #fff;
}

input:focus{
    outline: 0;
    outline-style: inherit;
   
}

.form-control{
    border: 2px solid rgb(139, 52, 52);
}
 .my-4 {
    margin-top: 9.5rem!important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
   
    background-color: black !important;
}